/* edit.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #007bff;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
